<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>drink</key>
		<string>熟成紅茶</string>
		<key>option</key>
		<array>
			<dict>
				<key>drinkSize</key>
				<string>M</string>
				<key>price</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>drinkSize</key>
				<string>L</string>
				<key>price</key>
				<integer>30</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>drink</key>
		<string>麗春紅茶</string>
		<key>option</key>
		<array>
			<dict>
				<key>drinkSize</key>
				<string>M</string>
				<key>price</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>drinkSize</key>
				<string>L</string>
				<key>price</key>
				<integer>30</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>drink</key>
		<string>太妃紅茶</string>
		<key>option</key>
		<array>
			<dict>
				<key>drinkSize</key>
				<string>M</string>
				<key>price</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>drinkSize</key>
				<string>L</string>
				<key>price</key>
				<integer>35</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>drink</key>
		<string>熟成冷露</string>
		<key>option</key>
		<array>
			<dict>
				<key>drinkSize</key>
				<string>M</string>
				<key>price</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>drinkSize</key>
				<string>L</string>
				<key>price</key>
				<integer>30</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>drink</key>
		<string>雪花冷露</string>
		<key>option</key>
		<array>
			<dict>
				<key>drinkSize</key>
				<string>M</string>
				<key>price</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>drinkSize</key>
				<string>L</string>
				<key>price</key>
				<integer>30</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>drink</key>
		<string>春芽冷露</string>
		<key>option</key>
		<array>
			<dict>
				<key>drinkSize</key>
				<string>M</string>
				<key>price</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>drinkSize</key>
				<string>L</string>
				<key>price</key>
				<integer>30</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>drink</key>
		<string>春芽綠茶</string>
		<key>option</key>
		<array>
			<dict>
				<key>drinkSize</key>
				<string>M</string>
				<key>price</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>drinkSize</key>
				<string>L</string>
				<key>price</key>
				<integer>30</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>drink</key>
		<string>春梅冰茶</string>
		<key>option</key>
		<array>
			<dict>
				<key>drinkSize</key>
				<string>M</string>
				<key>price</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>drinkSize</key>
				<string>L</string>
				<key>price</key>
				<integer>35</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>drink</key>
		<string>冷露歐蕾</string>
		<key>option</key>
		<array>
			<dict>
				<key>drinkSize</key>
				<string>M</string>
				<key>price</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>drinkSize</key>
				<string>L</string>
				<key>price</key>
				<integer>50</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>drink</key>
		<string>熟成歐蕾</string>
		<key>option</key>
		<array>
			<dict>
				<key>drinkSize</key>
				<string>M</string>
				<key>price</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>drinkSize</key>
				<string>L</string>
				<key>price</key>
				<integer>50</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>drink</key>
		<string>白玉歐蕾</string>
		<key>option</key>
		<array>
			<dict>
				<key>drinkSize</key>
				<string>M</string>
				<key>price</key>
				<integer>50</integer>
			</dict>
			<dict>
				<key>drinkSize</key>
				<string>L</string>
				<key>price</key>
				<integer>60</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>drink</key>
		<string>熟成檸果</string>
		<key>option</key>
		<array>
			<dict>
				<key>drinkSize</key>
				<string>M</string>
				<key>price</key>
				<integer>50</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
